USE [AlimentosDB]
GO
/****** Object:  User [LAlimentos]    Script Date: 10/09/2020 08:11:47 ******/
CREATE USER [LAlimentos] FOR LOGIN [LAlimentos] WITH DEFAULT_SCHEMA=[SAlimentos]
GO
ALTER ROLE [db_owner] ADD MEMBER [LAlimentos]
GO
/****** Object:  Schema [SAlimentos]    Script Date: 10/09/2020 08:11:47 ******/
CREATE SCHEMA [SAlimentos]
GO
/****** Object:  Table [SAlimentos].[CARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[CARDAPIO](
	[IDCARDAPIO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CARDAPIO] PRIMARY KEY CLUSTERED 
(
	[IDCARDAPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[COMPLANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[COMPLANCHE](
	[IDCOMPLANCHE] [int] IDENTITY(1,1) NOT NULL,
	[IDLANCHE] [int] NOT NULL,
	[IDINGREDIENTE] [int] NOT NULL,
 CONSTRAINT [PK_COMPLANCHE] PRIMARY KEY CLUSTERED 
(
	[IDCOMPLANCHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[INGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[INGREDIENTE](
	[IDINGREDIENTE] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[VALOR] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_INGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[IDINGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[ITEMCARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[ITEMCARDAPIO](
	[IDITEMCARDAPIO] [int] IDENTITY(1,1) NOT NULL,
	[IDCARDAPIO] [int] NOT NULL,
	[IDLANCHE] [int] NOT NULL,
 CONSTRAINT [PK_ITEMCARDAPIO] PRIMARY KEY CLUSTERED 
(
	[IDITEMCARDAPIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[LANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[LANCHE](
	[IDLANCHE] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LANCHE] PRIMARY KEY CLUSTERED 
(
	[IDLANCHE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[LANCHEPROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[LANCHEPROMOCAO](
	[IDLANCHEPROMOCAO] [int] IDENTITY(1,1) NOT NULL,
	[IDPROMOCAO] [int] NOT NULL,
	[IDLANCHE] [int] NOT NULL,
 CONSTRAINT [PK_LANCHEPROMOCAO] PRIMARY KEY CLUSTERED 
(
	[IDLANCHEPROMOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[PROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[PROMOCAO](
	[IDPROMOCAO] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PROMOCAO] PRIMARY KEY CLUSTERED 
(
	[IDPROMOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[VENDA]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[VENDA](
	[IDVENDA] [int] IDENTITY(1,1) NOT NULL,
	[DATEVENDA] [date] NOT NULL,
	[IDLANCHE] [int] NOT NULL,
	[VALORVENDA] [decimal](5, 2) NOT NULL,
	[VALORDESCONTO] [decimal](5, 2) NULL,
	[DATACANCELAMENTO] [datetime] NULL,
	[MOTIVOCANCELAMENTO] [varchar](200) NULL,
	[IDPROMOCAO] [int] NULL,
 CONSTRAINT [PK_VENDA] PRIMARY KEY CLUSTERED 
(
	[IDVENDA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [SAlimentos].[VENDAINGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SAlimentos].[VENDAINGREDIENTE](
	[IDVENDAINGREDIENTE] [int] IDENTITY(1,1) NOT NULL,
	[IDINGREDIENTE] [int] NOT NULL,
	[IDVENDA] [int] NOT NULL,
	[QUATIDADE] [int] NOT NULL,
 CONSTRAINT [PK_VENDAINGREDIENTE] PRIMARY KEY CLUSTERED 
(
	[IDVENDAINGREDIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SAlimentos].[COMPLANCHE]  WITH CHECK ADD  CONSTRAINT [FK_COMPLANCHE_INGREDIENTE] FOREIGN KEY([IDINGREDIENTE])
REFERENCES [SAlimentos].[INGREDIENTE] ([IDINGREDIENTE])
GO
ALTER TABLE [SAlimentos].[COMPLANCHE] CHECK CONSTRAINT [FK_COMPLANCHE_INGREDIENTE]
GO
ALTER TABLE [SAlimentos].[COMPLANCHE]  WITH CHECK ADD  CONSTRAINT [FK_COMPLANCHE_LANCHE] FOREIGN KEY([IDLANCHE])
REFERENCES [SAlimentos].[LANCHE] ([IDLANCHE])
GO
ALTER TABLE [SAlimentos].[COMPLANCHE] CHECK CONSTRAINT [FK_COMPLANCHE_LANCHE]
GO
ALTER TABLE [SAlimentos].[ITEMCARDAPIO]  WITH CHECK ADD  CONSTRAINT [FK_ITEMCARDAPIO_CARDAPIO] FOREIGN KEY([IDCARDAPIO])
REFERENCES [SAlimentos].[CARDAPIO] ([IDCARDAPIO])
GO
ALTER TABLE [SAlimentos].[ITEMCARDAPIO] CHECK CONSTRAINT [FK_ITEMCARDAPIO_CARDAPIO]
GO
ALTER TABLE [SAlimentos].[ITEMCARDAPIO]  WITH CHECK ADD  CONSTRAINT [FK_ITEMCARDAPIO_LANCHE] FOREIGN KEY([IDLANCHE])
REFERENCES [SAlimentos].[LANCHE] ([IDLANCHE])
GO
ALTER TABLE [SAlimentos].[ITEMCARDAPIO] CHECK CONSTRAINT [FK_ITEMCARDAPIO_LANCHE]
GO
ALTER TABLE [SAlimentos].[LANCHEPROMOCAO]  WITH CHECK ADD  CONSTRAINT [FK_LANCHEPROMOCAO_LANCHE] FOREIGN KEY([IDLANCHE])
REFERENCES [SAlimentos].[LANCHE] ([IDLANCHE])
GO
ALTER TABLE [SAlimentos].[LANCHEPROMOCAO] CHECK CONSTRAINT [FK_LANCHEPROMOCAO_LANCHE]
GO
ALTER TABLE [SAlimentos].[LANCHEPROMOCAO]  WITH CHECK ADD  CONSTRAINT [FK_LANCHEPROMOCAO_PROMOCAO] FOREIGN KEY([IDPROMOCAO])
REFERENCES [SAlimentos].[PROMOCAO] ([IDPROMOCAO])
GO
ALTER TABLE [SAlimentos].[LANCHEPROMOCAO] CHECK CONSTRAINT [FK_LANCHEPROMOCAO_PROMOCAO]
GO
ALTER TABLE [SAlimentos].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_LANCHE] FOREIGN KEY([IDLANCHE])
REFERENCES [SAlimentos].[LANCHE] ([IDLANCHE])
GO
ALTER TABLE [SAlimentos].[VENDA] CHECK CONSTRAINT [FK_VENDA_LANCHE]
GO
ALTER TABLE [SAlimentos].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_PROMOCAO] FOREIGN KEY([IDPROMOCAO])
REFERENCES [SAlimentos].[PROMOCAO] ([IDPROMOCAO])
GO
ALTER TABLE [SAlimentos].[VENDA] CHECK CONSTRAINT [FK_VENDA_PROMOCAO]
GO
ALTER TABLE [SAlimentos].[VENDAINGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_VENDAINGREDIENTE_INGREDIENTE] FOREIGN KEY([IDINGREDIENTE])
REFERENCES [SAlimentos].[INGREDIENTE] ([IDINGREDIENTE])
GO
ALTER TABLE [SAlimentos].[VENDAINGREDIENTE] CHECK CONSTRAINT [FK_VENDAINGREDIENTE_INGREDIENTE]
GO
ALTER TABLE [SAlimentos].[VENDAINGREDIENTE]  WITH CHECK ADD  CONSTRAINT [FK_VENDAINGREDIENTE_VENDA] FOREIGN KEY([IDVENDA])
REFERENCES [SAlimentos].[VENDA] ([IDVENDA])
GO
ALTER TABLE [SAlimentos].[VENDAINGREDIENTE] CHECK CONSTRAINT [FK_VENDAINGREDIENTE_VENDA]
GO
/****** Object:  StoredProcedure [SAlimentos].[C_CARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_CARDAPIO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,

	@IDCARDAPIO				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
	
		IF @PR_TIPO = 0  --CONSULTA TODOS OS REGISTROS
			BEGIN
				SELECT IDCARDAPIO,DESCRICAO FROM SAlimentos.CARDAPIO ORDER BY IDCARDAPIO DESC
			END

		IF @PR_TIPO = 1  -- CONSULTA UM RESISTRO POR ID	
			BEGIN
				SELECT IDCARDAPIO,DESCRICAO FROM SAlimentos.CARDAPIO WHERE IDCARDAPIO = IDCARDAPIO
			END

		IF @PR_TIPO = 2  -- CONSULTA UM RESISTRO POR ID ATUJALIZADO
			BEGIN
				SELECT IDCARDAPIO,DESCRICAO FROM SAlimentos.CARDAPIO WHERE IDCARDAPIO >= IDCARDAPIO ORDER BY IDCARDAPIO DESC
			END
				
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_COMPLANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_COMPLANCHE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,

	@IDCOMPLANCHE			INT,
	@IDLANCHE				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		
		IF @PR_TIPO = 0  -- CONSULTAOS COMPONENTES DE UM LANCHE
			BEGIN
				SELECT COMPLANCHE.IDCOMPLANCHE, COMPLANCHE.IDLANCHE, INGREDIENTE.IDINGREDIENTE, INGREDIENTE.DESCRICAO, INGREDIENTE.VALOR, LANCHE.DESCRICAO AS DESCRICAOLANCHE
				FROM SAlimentos.COMPLANCHE INNER JOIN
                SAlimentos.INGREDIENTE ON COMPLANCHE.IDINGREDIENTE = INGREDIENTE.IDINGREDIENTE INNER JOIN
                SAlimentos.LANCHE ON COMPLANCHE.IDLANCHE = LANCHE.IDLANCHE
				WHERE (COMPLANCHE.IDLANCHE = @IDLANCHE) ORDER BY COMPLANCHE.IDCOMPLANCHE DESC
			END	

		IF @PR_TIPO = 1  -- CONSULTA  OS COMPONENTES DO ULTIMO LANCHE
			BEGIN
				SELECT COMPLANCHE.IDCOMPLANCHE, COMPLANCHE.IDLANCHE, INGREDIENTE.IDINGREDIENTE, INGREDIENTE.DESCRICAO, INGREDIENTE.VALOR, LANCHE.DESCRICAO AS DESCRICAOLANCHE
				FROM SAlimentos.COMPLANCHE INNER JOIN
                SAlimentos.INGREDIENTE ON COMPLANCHE.IDINGREDIENTE = INGREDIENTE.IDINGREDIENTE INNER JOIN
                SAlimentos.LANCHE ON COMPLANCHE.IDLANCHE = LANCHE.IDLANCHE
				WHERE (COMPLANCHE.IDLANCHE = (SELECT MAX(IDLANCHE) FROM COMPLANCHE))
				ORDER BY COMPLANCHE.IDCOMPLANCHE DESC
			END	
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_INGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_INGREDIENTE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDINGREDIENTE			INT,
	@DESCRICAO				VARCHAR(100) = NULL
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		SET @DESCRICAO = '%' + LTRIM(RTRIM(@DESCRICAO)) + '%'

	
		IF @PR_TIPO = 0  -- ENCONTRA O ULTIMO REGISTRO POR ID
			BEGIN
				SELECT IDINGREDIENTE, DESCRICAO, VALOR FROM SAlimentos.INGREDIENTE WHERE IDINGREDIENTE = @IDINGREDIENTE
			END 

		IF @PR_TIPO = 1  -- CONSULTA OS 5 ULTIMOS REGISTROS
			BEGIN
				SELECT TOP 5 IDINGREDIENTE, DESCRICAO, VALOR FROM SAlimentos.INGREDIENTE ORDER BY IDINGREDIENTE DESC
			END

		IF @PR_TIPO = 2  -- CONSULTA OS 5 ULTIMOS REGISTROS (ATUALIZADO)
			BEGIN
				SELECT TOP 5 IDINGREDIENTE, DESCRICAO, VALOR FROM SAlimentos.INGREDIENTE WHERE IDINGREDIENTE <= @IDINGREDIENTE
				ORDER BY IDINGREDIENTE DESC
			END

		IF @PR_TIPO = 3  -- DROP
			BEGIN
				SELECT IDINGREDIENTE, DESCRICAO, VALOR FROM SAlimentos.INGREDIENTE ORDER BY DESCRICAO
			END


		IF @PR_TIPO = 4  -- CONSULTA PELA DESCRIÇÃO
				BEGIN
					SELECT IDINGREDIENTE, DESCRICAO, VALOR FROM SAlimentos.INGREDIENTE WHERE DESCRICAO LIKE @DESCRICAO ORDER BY DESCRICAO
				END

	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_ITEMCARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_ITEMCARDAPIO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@ITEMCARDAPIO			INT,
	@IDCARDAPIO				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		
		IF @PR_TIPO = 0  -- CONSULTA OS INTENS DE UM CARDAPIO
			BEGIN
				SELECT ITEMCARDAPIO.IDITEMCARDAPIO,CARDAPIO.IDCARDAPIO, CARDAPIO.DESCRICAO, LANCHE.IDLANCHE, LANCHE.DESCRICAO AS DESCLANCHE, ITEMCARDAPIO.IDITEMCARDAPIO
				FROM SAlimentos.ITEMCARDAPIO INNER JOIN
                SAlimentos.CARDAPIO ON ITEMCARDAPIO.IDCARDAPIO = CARDAPIO.IDCARDAPIO INNER JOIN
                SAlimentos.LANCHE ON ITEMCARDAPIO.IDLANCHE = LANCHE.IDLANCHE
				WHERE (CARDAPIO.IDCARDAPIO = @IDCARDAPIO)
		END	
		IF @PR_TIPO = 1  -- CONSULTA TODOS OS ISTEN(LANCHE) DO ULTIMO CARDAPIO
			BEGIN
				SELECT ITEMCARDAPIO.IDITEMCARDAPIO, CARDAPIO.IDCARDAPIO, CARDAPIO.DESCRICAO, LANCHE.IDLANCHE, LANCHE.DESCRICAO AS DESCLANCHE, ITEMCARDAPIO.IDITEMCARDAPIO
				FROM SAlimentos.ITEMCARDAPIO INNER JOIN
                SAlimentos.CARDAPIO ON ITEMCARDAPIO.IDCARDAPIO = CARDAPIO.IDCARDAPIO INNER JOIN
                SAlimentos.LANCHE ON ITEMCARDAPIO.IDLANCHE = LANCHE.IDLANCHE
				WHERE (ITEMCARDAPIO.IDITEMCARDAPIO = (SELECT MAX(IDCARDAPIO)  FROM SAlimentos.ITEMCARDAPIO))
				ORDER BY ITEMCARDAPIO.IDITEMCARDAPIO DESC
		END	

	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_LANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_LANCHE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDLANCHE				INT,
	@DESCRICAO				VARCHAR(100) = NULL
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		SET @DESCRICAO = '%' + LTRIM(RTRIM(@DESCRICAO)) + '%'
			
		IF @PR_TIPO = 0  -- CONSULTA OS 5 ULTIMOS REGISTROS
			BEGIN
				SELECT IDLANCHE,DESCRICAO FROM SAlimentos.LANCHE ORDER BY IDLANCHE DESC
			END

		IF @PR_TIPO = 1  -- CONSULTA OS 5 ULTIMOS REGISTROS (ATUALIZADO)
			BEGIN
				SELECT IDLANCHE,DESCRICAO FROM SAlimentos.LANCHE WHERE IDLANCHE <= @IDLANCHE
				ORDER BY IDLANCHE DESC
			END

		IF @PR_TIPO = 2  -- DROP
			BEGIN
				SELECT IDLANCHE,DESCRICAO FROM SAlimentos.LANCHE ORDER BY DESCRICAO
			END


		IF @PR_TIPO = 3  -- CONSULTA PELA DESCRIÇÃO
				BEGIN
					SELECT IDLANCHE,DESCRICAO FROM SAlimentos.LANCHE WHERE DESCRICAO LIKE @DESCRICAO ORDER BY DESCRICAO
				END

	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_LANCHEPROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_LANCHEPROMOCAO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,

	@IDPROMOCAO				INT,
	@IDLANCHE				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
	
		IF @PR_TIPO = 0  -- CONSULTA A PROMOÇÃO DE UM LANCHE
			BEGIN
				SELECT LANCHEPROMOCAO.IDLANCHEPROMOCAO, LANCHE.IDLANCHE, LANCHE.DESCRICAO, PROMOCAO.IDPROMOCAO, PROMOCAO.DESCRICAO AS DESCRICAOPROMOCAO
				FROM SAlimentos.LANCHEPROMOCAO INNER JOIN
                SAlimentos.LANCHE ON LANCHEPROMOCAO.IDLANCHE = LANCHE.IDLANCHE INNER JOIN
                SAlimentos.PROMOCAO ON LANCHEPROMOCAO.IDPROMOCAO = PROMOCAO.IDPROMOCAO
				WHERE LANCHEPROMOCAO.IDPROMOCAO = @IDPROMOCAO AND LANCHEPROMOCAO.IDLANCHE = @IDLANCHE
			END

		IF @PR_TIPO = 1  -- CONSUTAR TODAS AS PROMOÇÕES ORDENADA POR PROMOÇÃP / LANCHE
			BEGIN
				SELECT LANCHEPROMOCAO.IDLANCHEPROMOCAO, LANCHE.IDLANCHE, LANCHE.DESCRICAO, PROMOCAO.IDPROMOCAO, PROMOCAO.DESCRICAO AS DESCRICAOPROMOCAO
				FROM SAlimentos.LANCHEPROMOCAO INNER JOIN
                SAlimentos.LANCHE ON LANCHEPROMOCAO.IDLANCHE = LANCHE.IDLANCHE INNER JOIN
                SAlimentos.PROMOCAO ON LANCHEPROMOCAO.IDPROMOCAO = PROMOCAO.IDPROMOCAO
				ORDER BY PROMOCAO.DESCRICAO, LANCHE.DESCRICAO
			END

		
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_PROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_PROMOCAO]
( 
	@PR_TIPO				INT,
	@PR_RETURN				INT OUTPUT,

	@IDPROMOCAO				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0  -- CONSULTA TODOS OS REGISTROS
			BEGIN
				SELECT IDPROMOCAO,DESCRICAO FROM SAlimentos.PROMOCAO ORDER BY IDPROMOCAO DESC
			END
		IF @PR_TIPO = 1  -- CONSULTA UM REGISTRO POR ID
			BEGIN
				SELECT IDPROMOCAO,DESCRICAO FROM SAlimentos.PROMOCAO WHERE IDPROMOCAO= @IDPROMOCAO
			END
	
END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[C_VENDA]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[C_VENDA]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,

	@DATAINI				DATE,
	@DATAFIM				DATE
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
	
		IF @PR_TIPO = 0  -- CONSULTA TODAS AS VENDAS POR PERIODO
			BEGIN
				SELECT LANCHE.IDLANCHE, LANCHE.DESCRICAO, VENDA.DATEVENDA, ISNULL(VENDA.DATACANCELAMENTO, '') AS DATACANCELAMENTO, ISNULL(VENDA.MOTIVOCANCELAMENTO, '') AS MOTIVOCANCELAMENTO, 
                VENDA.VALORVENDA, VENDA.VALORDESCONTO, ISNULL(PROMOCAO.DESCRICAO, '') AS DESCPROMOCAO
				FROM SAlimentos.VENDA INNER JOIN
                SAlimentos.LANCHE ON VENDA.IDLANCHE = LANCHE.IDLANCHE LEFT OUTER JOIN
                SAlimentos.PROMOCAO ON VENDA.IDPROMOCAO = PROMOCAO.IDPROMOCAO
				WHERE (VENDA.DATEVENDA BETWEEN CONVERT(DATETIME, @DATAINI, 102) AND CONVERT(DATETIME, @DATAFIM, 102))				
				--AND (VENDA.DATACANCELAMENTO is null)
				UNION ALL
				SELECT 0 AS IDLANCHE,'' AS DESCRICAO,'' AS DATEVENDA,'' AS DATACANCELAMENTO,'' AS MOTIVOCANCELAMENTO, ISNULL(SUM(VENDA.VALORVENDA),0) AS VALORVENDA,ISNULL(SUM(VENDA.VALORDESCONTO),0) AS VALORDESCONTO,
				'' AS DESCPROMOCAO	FROM SAlimentos.VENDA
				WHERE (VENDA.DATEVENDA BETWEEN CONVERT(DATETIME, @DATAINI, 102) AND CONVERT(DATETIME, @DATAFIM, 102))
				AND (VENDA.DATACANCELAMENTO is null)
			END
		
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_CARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_CARDAPIO]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDCARDAPIO				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.CARDAPIO WHERE IDCARDAPIO = @IDCARDAPIO
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_COMPLANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_COMPLANCHE]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDCOMPLANCHE			INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.COMPLANCHE WHERE IDCOMPLANCHE = @IDCOMPLANCHE
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_INGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_INGREDIENTE]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDINGREDIENTE			INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.INGREDIENTE WHERE IDINGREDIENTE = @IDINGREDIENTE
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_LANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_LANCHE]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDLANCHE				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.LANCHE WHERE IDLANCHE = @IDLANCHE
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_LANCHEPROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_LANCHEPROMOCAO]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDLANCHEPROMOCAO		INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.LANCHEPROMOCAO WHERE IDLANCHEPROMOCAO = @IDLANCHEPROMOCAO
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[E_PROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[E_PROMOCAO]
( 
	@PR_RETURN				INT OUTPUT,
	
	@IDPROMOCAO				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY
		
		BEGIN -- EXCLUIR O REGISTRO
			DELETE SAlimentos.PROMOCAO WHERE IDPROMOCAO = @IDPROMOCAO
				
		END 
				
	
	END TRY

	BEGIN CATCH 
	
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_CARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_CARDAPIO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDCARDAPIO				INT,
	@DESCRICAO				VARCHAR(100)
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.CARDAPIO(DESCRICAO)
				VALUES (LTRIM(RTRIM(@DESCRICAO)))
			END


		IF @PR_TIPO = 1 --  ATUALIZAR O REGISTRO
			BEGIN
				UPDATE SAlimentos.CARDAPIO SET
				DESCRICAO = @DESCRICAO
				WHERE IDCARDAPIO = @IDCARDAPIO
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_COMPLANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_COMPLANCHE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDCOMPLANCHE			INT,
	@IDLANCHE				INT,
	@IDINGREDIENTE			INT
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	DECLARE @TOTAL INT = 0

	BEGIN TRY

		SET @TOTAL = (SELECT COUNT(IDCOMPLANCHE) AS TOTAL FROM SAlimentos.COMPLANCHE WHERE IDLANCHE = @IDLANCHE
		AND IDINGREDIENTE = @IDINGREDIENTE)

		IF @TOTAL <> 0 
			BEGIN
				SET @PR_TIPO = 9
			END

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.COMPLANCHE(IDLANCHE, IDINGREDIENTE)
				VALUES (@IDLANCHE, @IDINGREDIENTE)
			END
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_INGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_INGREDIENTE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDINGREDIENTE			INT,
	@DESCRICAO				VARCHAR(100),
	@VALOR					DECIMAL (6,2)
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.INGREDIENTE(DESCRICAO, VALOR)
				VALUES (LTRIM(RTRIM(@DESCRICAO)),@VALOR)
			END


		IF @PR_TIPO = 1 --  ATUALIZAR O REGISTRO
			BEGIN
				UPDATE SAlimentos.INGREDIENTE SET
				DESCRICAO = @DESCRICAO,
				VALOR = @VALOR
				WHERE IDINGREDIENTE = @IDINGREDIENTE
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_ITEMCARDAPIO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_ITEMCARDAPIO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDITEMCARDAPIO			INT,
	@IDCARDAPIO				INT,
	@IDLANCHE				INT
	)

AS

BEGIN

DECLARE @TOTAL INT = 0

	SET @PR_RETURN = 0
	SET XACT_ABORT ON


	BEGIN TRY


		SET @TOTAL = (SELECT COUNT(IDITEMCARDAPIO) AS TOTAL FROM SAlimentos.ITEMCARDAPIO WHERE IDLANCHE = @IDLANCHE
		AND IDCARDAPIO = @IDCARDAPIO)

		IF @TOTAL <> 0 
			BEGIN
				SET @PR_TIPO = 9
			END

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.ITEMCARDAPIO(IDCARDAPIO, IDLANCHE)
				VALUES (@IDCARDAPIO, @IDLANCHE)
			END
					
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_LANCHE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_LANCHE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDLANCHE				INT,
	@DESCRICAO				VARCHAR(50)
	)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.LANCHE(DESCRICAO)
				VALUES (LTRIM(RTRIM(@DESCRICAO)))
			END


		IF @PR_TIPO = 1 --  ATUALIZAR O REGISTRO
			BEGIN
				UPDATE SAlimentos.LANCHE SET
				DESCRICAO = @DESCRICAO
				WHERE IDLANCHE = @IDLANCHE
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_LANCHEPROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_LANCHEPROMOCAO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDLANCHEPROMOCAO		INT,
	@IDPROMOCAO				INT,
	@IDLANCHE				INT
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.LANCHEPROMOCAO(IDPROMOCAO, IDLANCHE)
				VALUES (@IDPROMOCAO, @IDLANCHE)
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_PROMOCAO]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_PROMOCAO]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDPROMOCAO				INT,
	@DESCRICAO				VARCHAR(100)
)

AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.PROMOCAO(DESCRICAO)
				VALUES (LTRIM(RTRIM(@DESCRICAO)))
			END
		IF @PR_TIPO = 1 --ATUALIZA O RESGISTRO
			BEGIN
				UPDATE SAlimentos.PROMOCAO
				SET DESCRICAO = @DESCRICAO
				WHERE IDPROMOCAO = @IDPROMOCAO
		END

		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_VENDA]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_VENDA]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDVENDA				INT,
	@DATEVENDA				DATETIME,
	@IDLANCHE				INT,


	@VALORVENDA				DECIMAL(6,2),
	@VALORDESCONTO			DECIMAL(6,2),
	@DATACANCELAMENTO		DATETIME = NULL,
	@MOTIVOCANCELAMENTO		VARCHAR(200) = NULL
)

AS

BEGIN

	DECLARE 
	
	@IDPROMOCAO INT,
	@ALFACE INT,
	@BACON INT



	SET @PR_RETURN = 0
	SET XACT_ABORT ON
	
	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				SET @VALORVENDA = (
				SELECT  SUM(INGREDIENTE.VALOR)
				FROM            LANCHE INNER JOIN
										 COMPLANCHE ON LANCHE.IDLANCHE = COMPLANCHE.IDLANCHE INNER JOIN
										 INGREDIENTE ON COMPLANCHE.IDINGREDIENTE = INGREDIENTE.IDINGREDIENTE
				WHERE        (LANCHE.IDLANCHE = @IDLANCHE))

				-- CALCULO DO DESCONTO (FIXO)

				SET @IDPROMOCAO = (SELECT IDPROMOCAO FROM LANCHEPROMOCAO WHERE IDLANCHE =  @IDLANCHE)

				SET @ALFACE = (SELECT IDINGREDIENTE FROM COMPLANCHE WHERE IDLANCHE = @IDLANCHE AND IDINGREDIENTE = 1)
				SET @BACON = (SELECT IDINGREDIENTE FROM COMPLANCHE WHERE IDLANCHE = @IDLANCHE AND IDINGREDIENTE = 2)

				IF @IDPROMOCAO = 1
					BEGIN
						IF ISNULL(@ALFACE,0) = 1 AND ISNULL(@BACON,0) = 0
							BEGIN
								SET @VALORDESCONTO = @VALORVENDA * 0.10
								SET @VALORVENDA = (@VALORVENDA - @VALORDESCONTO)
							END

					END

				--INSERT INTO  SAlimentos.VENDA(DATEVENDA,IDLANCHE,VALORVENDA,VALORDESCONTO)
				--VALUES (@DATEVENDA,@IDLANCHE,@VALORVENDA,@VALORDESCONTO)
			END
		
		IF @PR_TIPO = 1 -- CANCELA A VENA
			BEGIN
				UPDATE SAlimentos.VENDA SET
				DATACANCELAMENTO = GETDATE(),
				MOTIVOCANCELAMENTO = @MOTIVOCANCELAMENTO
				WHERE IDVENDA = @IDVENDA
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO
/****** Object:  StoredProcedure [SAlimentos].[I_VENDAINGREDIENTE]    Script Date: 10/09/2020 08:11:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [SAlimentos].[I_VENDAINGREDIENTE]
( 
	@PR_TIPO				INT,	
	@PR_RETURN				INT OUTPUT,
	
	@IDVENDAINGREDIENTE		INT,
	@IDINGREDIENTE			INT,
	@IDVENDA				INT,
	@QUATIDADE				INT
	)
AS

BEGIN

	SET @PR_RETURN = 0
	SET XACT_ABORT ON

	BEGIN TRY

		IF @PR_TIPO = 0 --INCLUIR O REGISTRO
			BEGIN
				INSERT INTO  SAlimentos.VENDAINGREDIENTE(IDINGREDIENTE,IDVENDA,QUATIDADE)
				VALUES (@IDINGREDIENTE,@IDVENDA,@QUATIDADE)
			END
		
	END TRY

	BEGIN CATCH
		SET @PR_RETURN = @@ERROR	

	END CATCH

	END
GO



INSERT INTO SAlimentos.PROMOCAO (iDPROMOCAO,[DESCRICAO])
VALUES (1,'Light')

INSERT INTO SAlimentos.PROMOCAO (iDPROMOCAO,[DESCRICAO])
VALUES (2,'Muita carne')

INSERT INTO SAlimentos.PROMOCAO (iDPROMOCAO,[DESCRICAO])
VALUES (3,'Muito queijo')


INSERT INTO INGREDIENTE VALUES  (1,'Alface',1)
INSERT INTO INGREDIENTE VALUES  (2,'bacon',2)
